* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.lightgreen {
    background-color: lightgreen;
}
.header-sum {
    font-size: 18px;
    font-weight: bold;
}
.header-total-sum {
    margin-left: 1rem;
}
.nav-title {
    margin-left: 50px;
}
.btn-burger {
    margin-right: 40px;
}
.navbar {
    position: fixed;   
    width: 100%;
    z-index: 1;
    padding-right: 1rem;
}
.offcanvas-end {
    width: 300px;
}
.main-table {     
    top: 85px;
    position: absolute;
    z-index: 0;
    width: 100%;
    text-align: center;
    padding-left: 55px;
}
table {
    font-size: 16px;
    text-align: center;
}
th.date {
   /*  width: 100%; */
    text-align: center;    
}
td.td-del, td.cost {
    width: 45px;
    padding: 0;
}
.vis, .visible {
    min-width: 170px;
}
.client {
    cursor: pointer;
} 
.modal-dialog {
   width: 100%;
}
.btn-payed {
    margin-top: 20px;
}
.payed-page {
    text-decoration: none;
    color: inherit;
    text-transform: none;
}
 a:hover {
    color: white;
}
 @media screen and (max-width: 992px) {
    .modal-dialog {
    width: 100%;    
}
.main-table {
    padding-left: 35px;
}

}
@media screen and (max-width: 630px) {
   table {
    font-size: 10px;
}
    .btn-burger {
    margin-right: 20px;
}
.main-table {
    padding-left: 15px;
}
.navbar {
    flex-wrap: nowrap;    
}
    
}
 @media screen and (max-width: 490px) {
   table {
    font-size: 8px;}
    .modal-content {
    width: 355px;
    left: 20px;
}
    .btn-burger {
    margin-right: 10px;
}
.main-table {
    padding-left: 7px;
}
element.style {
    padding-right: 27px;
    padding-left: 0px;
}
.vis, .visible {
    min-width: 105px;
}    
.modal-backdrop {    
    width: 100%;
    height: 100%;    
}
}

@media screen and (max-width: 375px) {
    .modal-content {
        left: 20px;
    }
}